.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}
h1{
    font-size: 80px;
    text-align: center;
}
table, tbody, th, td, tr{
    border: solid 1px
}
.table{
    margin-left: 20%;
    margin-bottom: 20px;
}